## Core latex/pdflatex auxiliary files:
build/*.aux
build/*.lof
build/*.log
build/*.lot
build/*.fls
build/*.out
build/*.toc

## Intermediate documents:
build/*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# build/*.ps
# build/*.eps
# build/*.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
build/*.bbl
build/*.bcf
build/*.blg
*-blx.aux
*-blx.bib
build/*.brf
build/*.run.xml

## Build tool auxiliary files:
build/*.fdb_latexmk
build/*.synctex
build/*.synctex.gz
build/*.synctex.gz(busy)
build/*.pdfsync

## Auxiliary and intermediate files from other packages:

# algorithms
build/*.alg
build/*.loa

# achemso
acs-build/*.bib

# amsthm
build/*.thm

# beamer
build/*.nav
build/*.snm
build/*.vrb

#(e)ledmac/(e)ledpar
build/*.end
build/*.[1-9]
build/*.[1-9][0-9]
build/*.[1-9][0-9][0-9]
build/*.[1-9]R
build/*.[1-9][0-9]R
build/*.[1-9][0-9][0-9]R
build/*.eledsec[1-9]
build/*.eledsec[1-9]R
build/*.eledsec[1-9][0-9]
build/*.eledsec[1-9][0-9]R
build/*.eledsec[1-9][0-9][0-9]
build/*.eledsec[1-9][0-9][0-9]R

# glossaries
build/*.acn
build/*.acr
build/*.glg
build/*.glo
build/*.gls

# gnuplottex
*-gnuplottex-*

# hyperref
build/*.brf

# knitr
*-concordance.tex
build/*.tikz
*-tikzDictionary

# listings
build/*.lol

# makeidx
build/*.idx
build/*.ilg
build/*.ind
build/*.ist

# minitoc
build/*.maf
build/*.mtc
build/*.mtc0

# minted
_minted*
build/*.pyg

# morewrites
build/*.mw

# nomencl
build/*.nlo

# sagetex
build/*.sagetex.sage
build/*.sagetex.py
build/*.sagetex.scmd

# sympy
build/*.sout
build/*.sympy
sympy-plots-for-build/*.tex/

# todonotes
build/*.tdo

# xindy
build/*.xdy

# WinEdt
build/*.bak
build/*.sav
